* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cart {
  position: relative;
  box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.47);
  border-radius: 10px;
  width: 17rem;
  padding: 20px;
  display: flex;
  margin: 2rem auto;
  overflow: hidden;
  height: 22rem;
}

.cart .imgbox {
  height: 230px;
  width: 100%;
  margin-bottom: 20px;
  object-fit: cover;
}

.cart .imgbox img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.mens {
  margin: 8px 0 0 0;
}
.mens h4 {
  color: rgba(0, 0, 0, 0.475);
  margin: 0;
}
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px 0 20px;
  background-color: white;
  box-sizing: border-box;
  height: 100px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.cart:hover .content {
  height: 260px;
}

.detail {
  display: flex;
  justify-content: space-between;
}
.detail {
  display: flex;
  justify-content: space-between;
}
.detail h3 {
  margin: 0;
  font-size: 18px;
}
.sizes {
  margin-top: 6px;
}

.sizes p {
  font-weight: 600;
  margin: 0;
}

.sizes ul {
  display: flex;
  gap: 0 10px;
  padding: 4px 0;
}
.sizes ul li {
  list-style: none;
  font-size: 13px;
  padding: 0 3px;
}

.sizes ul li:nth-child(1):hover {
  background-color: red;
  transition: all 0.5s ease-in-out;
  padding: 0 3px;
  border-radius: 2px;
  color: #fff;
}
.sizes ul li:nth-child(2):hover {
  background-color: green;
  transition: all 0.5s ease-in-out;
  border-radius: 2px;
  color: #fff;

  padding: 0 3px;
}
.sizes ul li:nth-child(3):hover {
  background-color: blue;
  transition: all 0.5s ease-in-out;
  border-radius: 2px;
  color: #fff;

  padding: 0 3px;
}
.sizes ul li:nth-child(4):hover {
  background-color: yellow;
  transition: all 0.5s ease-in-out;
  border-radius: 2px;

  padding: 0 3px;
}
.sizes ul li:nth-child(5):hover {
  background-color: green;
  transition: all 0.5s ease-in-out;
  border-radius: 2px;
  color: #fff;

  padding: 0 3px;
}
.colors ul li:nth-child(1) {
  background-color: antiquewhite;
}

.colors ul li:nth-child(2) {
  background-color: green;
}
.colors ul li:nth-child(3) {
  background-color: brown;
}
.colors ul li:nth-child(4) {
  background-color: rgba(41, 37, 31, 0.852);
}
.colors ul li:nth-child(5) {
  background-color: chocolate;
}
.colors ul li:nth-child(1):hover {
  background-color: rgba(0, 0, 128, 0.61);
  transition: all 0.3s ease-in-out;
}

.colors ul li:nth-child(2):hover {
  background-color: darkmagenta;
  transition: all 0.3s ease-in-out;
}
.colors ul li:nth-child(3):hover {
  background-color: greenyellow;
  transition: all 0.3s ease-in-out;
}
.colors ul li:nth-child(4):hover {
  background-color: rgba(0, 0, 128, 0.639);
  transition: all 0.3s ease-in-out;
}
.colors ul li:nth-child(5):hover {
  background-color: rgba(8, 58, 78, 0.717);
  transition: all 0.3s ease-in-out;
}

.colors {
  padding-top: 5px;
}

.colors p {
  font-weight: 600;
  margin: 0;
}

.colors ul {
  display: flex;
  gap: 0 10px;
  padding: 0;
  margin: 10px 0;
}

.colors ul li {
  padding: 10px;
  list-style: none;
  border-radius: 2px;
}

.btn {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  margin-top: 20px;
}

.btn button {
  background-color: black;
  border: none;
  color: white;
  font-size: 15px;
  width: 15rem;
  padding: 5px 0;
  border-radius: 2px;
}
.btn button:hover {
  color: #000;
  background: linear-gradient(
    to right,
    rgba(200, 118, 118, 0.8),
    rgba(255, 153, 153, 0.8)
  );
  transition: all 0.4s ease-in-out;
}
.detail h3 span i {
  font-size: 15px;
  padding-right: 5px;
}
